-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: attendance_system
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `member_id` int NOT NULL,
  `service_id` int NOT NULL,
  `date` date NOT NULL,
  `status` enum('present','absent','late') DEFAULT 'present',
  `marked_by` int DEFAULT NULL,
  `method` enum('manual','qr','barcode','auto') DEFAULT 'manual',
  `session_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `marked_by` (`marked_by`),
  KEY `session_id` (`session_id`),
  KEY `idx_attendance_date` (`date`),
  KEY `idx_attendance_member` (`member_id`),
  KEY `idx_attendance_service` (`service_id`),
  CONSTRAINT `attendance_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`),
  CONSTRAINT `attendance_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`),
  CONSTRAINT `attendance_ibfk_3` FOREIGN KEY (`marked_by`) REFERENCES `users` (`id`),
  CONSTRAINT `attendance_ibfk_4` FOREIGN KEY (`session_id`) REFERENCES `service_sessions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=897 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cell_centers`
--

DROP TABLE IF EXISTS `cell_centers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cell_centers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cell_centers`
--

LOCK TABLES `cell_centers` WRITE;
/*!40000 ALTER TABLE `cell_centers` DISABLE KEYS */;
INSERT INTO `cell_centers` VALUES (4,'Fanmilk Cell','2026-03-12 21:32:24'),(5,'NIC Cell','2026-03-12 21:32:38'),(6,'Cell Center 1','2026-03-15 01:45:35'),(7,'Cell Center 2','2026-03-15 01:45:35'),(8,'Cell Center 3','2026-03-15 01:45:35');
/*!40000 ALTER TABLE `cell_centers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communication_announcements`
--

DROP TABLE IF EXISTS `communication_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `communication_announcements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(180) NOT NULL,
  `body` text NOT NULL,
  `audience` varchar(120) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `publish_date` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_by_user_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_comm_ann_status` (`status`),
  KEY `idx_comm_ann_publish_date` (`publish_date`),
  KEY `idx_comm_ann_created_by` (`created_by_user_id`),
  CONSTRAINT `fk_comm_ann_created_by` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communication_announcements`
--

LOCK TABLES `communication_announcements` WRITE;
/*!40000 ALTER TABLE `communication_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `communication_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communication_campaigns`
--

DROP TABLE IF EXISTS `communication_campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `communication_campaigns` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(180) NOT NULL,
  `channel` enum('sms','email','whatsapp','announcement','other') NOT NULL DEFAULT 'sms',
  `audience` varchar(120) DEFAULT NULL,
  `content` text NOT NULL,
  `status` enum('draft','scheduled','sent','cancelled') NOT NULL DEFAULT 'draft',
  `scheduled_at` datetime DEFAULT NULL,
  `sent_at` datetime DEFAULT NULL,
  `total_recipients` int NOT NULL DEFAULT '0',
  `delivered_count` int NOT NULL DEFAULT '0',
  `failed_count` int NOT NULL DEFAULT '0',
  `created_by_user_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_comm_campaign_channel` (`channel`),
  KEY `idx_comm_campaign_status` (`status`),
  KEY `idx_comm_campaign_scheduled` (`scheduled_at`),
  KEY `idx_comm_campaign_created_by` (`created_by_user_id`),
  CONSTRAINT `fk_comm_campaign_created_by` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communication_campaigns`
--

LOCK TABLES `communication_campaigns` WRITE;
/*!40000 ALTER TABLE `communication_campaigns` DISABLE KEYS */;
INSERT INTO `communication_campaigns` VALUES (1,'uiui','sms','Department: Technical','Q6RR','sent',NULL,'2026-03-19 06:43:37',2,2,0,1,'2026-03-19 06:43:33','2026-03-19 06:43:37'),(2,'Technical Team','sms','Department: Technical','Bridge Ministries SMS Test','sent',NULL,'2026-03-19 07:06:19',3,3,0,1,'2026-03-19 07:06:13','2026-03-19 07:06:19'),(3,'SMOKE TEST 20260319_071329','sms','Smoke Test','SMS smoke test from Communication Module at 2026-03-19 07:13:29','sent',NULL,'2026-03-19 07:13:31',1,1,0,NULL,'2026-03-19 07:13:31','2026-03-19 07:13:31');
/*!40000 ALTER TABLE `communication_campaigns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communication_logs`
--

DROP TABLE IF EXISTS `communication_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `communication_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `campaign_id` int DEFAULT NULL,
  `channel` enum('sms','email','whatsapp','announcement','other') NOT NULL,
  `recipient` varchar(190) DEFAULT NULL,
  `status` enum('queued','sent','delivered','failed') NOT NULL DEFAULT 'queued',
  `message_preview` varchar(255) DEFAULT NULL,
  `error_detail` varchar(255) DEFAULT NULL,
  `sent_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_comm_log_campaign` (`campaign_id`),
  KEY `idx_comm_log_channel` (`channel`),
  KEY `idx_comm_log_status` (`status`),
  KEY `idx_comm_log_sent_at` (`sent_at`),
  CONSTRAINT `fk_comm_logs_campaign` FOREIGN KEY (`campaign_id`) REFERENCES `communication_campaigns` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communication_logs`
--

LOCK TABLES `communication_logs` WRITE;
/*!40000 ALTER TABLE `communication_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `communication_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text,
  `leader_member_id` int DEFAULT NULL,
  `meeting_day` enum('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday') DEFAULT NULL,
  `meeting_time` time DEFAULT NULL,
  `budget` decimal(10,2) DEFAULT '0.00',
  `status` enum('active','inactive') DEFAULT 'active',
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `finance_transactions`
--

DROP TABLE IF EXISTS `finance_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `finance_transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `transaction_date` date NOT NULL,
  `type` enum('income','expense') NOT NULL,
  `category` varchar(100) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `reference_no` varchar(100) DEFAULT NULL,
  `description` text,
  `recorded_by_user_id` int DEFAULT NULL,
  `tither_id` int DEFAULT NULL,
  `tithe_book_id` int DEFAULT NULL,
  `paid_for_month` date DEFAULT NULL,
  `sms_provider_code` varchar(20) DEFAULT NULL,
  `sms_campaign_id` varchar(100) DEFAULT NULL,
  `sms_status` varchar(20) DEFAULT NULL,
  `sms_error` varchar(255) DEFAULT NULL,
  `sms_sent_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_finance_type_date` (`type`,`transaction_date`),
  KEY `idx_finance_date` (`transaction_date`),
  KEY `idx_finance_category` (`category`),
  KEY `idx_finance_recorded_by` (`recorded_by_user_id`),
  KEY `idx_finance_tither` (`tither_id`),
  KEY `idx_finance_tithe_book` (`tithe_book_id`),
  KEY `idx_finance_paid_for_month` (`paid_for_month`),
  CONSTRAINT `fk_finance_recorded_by_user` FOREIGN KEY (`recorded_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_finance_tithe_book` FOREIGN KEY (`tithe_book_id`) REFERENCES `tithe_books` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_finance_tither` FOREIGN KEY (`tither_id`) REFERENCES `tithers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finance_transactions`
--

LOCK TABLES `finance_transactions` WRITE;
/*!40000 ALTER TABLE `finance_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `finance_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_departments`
--

DROP TABLE IF EXISTS `member_departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member_departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `member_id` int NOT NULL,
  `department_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_member_dept` (`member_id`,`department_id`),
  KEY `department_id` (`department_id`),
  CONSTRAINT `member_departments_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `member_departments_ibfk_2` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_departments`
--

LOCK TABLES `member_departments` WRITE;
/*!40000 ALTER TABLE `member_departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `members` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `dob` date DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `location` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `phone2` varchar(20) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `department_id` int DEFAULT NULL,
  `date_joined` date DEFAULT NULL,
  `baptized` enum('yes','no') DEFAULT 'no',
  `status` enum('active','inactive') DEFAULT 'active',
  `ministerial_status` enum('Levite','Shepherd','Minister','Junior Pastor','Senior Pastor','General Overseer') DEFAULT NULL,
  `congregation_group` enum('Adult','Youth','Teen','Children') DEFAULT 'Adult',
  `marital_status` varchar(20) DEFAULT NULL,
  `role_in_church` varchar(150) DEFAULT NULL,
  `cell_center_id` int DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `person_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_members_department` (`department_id`),
  KEY `idx_members_status` (`status`),
  KEY `idx_members_date_joined` (`date_joined`),
  KEY `idx_members_phone1` (`phone`),
  KEY `idx_members_phone2` (`phone2`),
  KEY `fk_member_cell_center` (`cell_center_id`),
  KEY `idx_members_person_id` (`person_id`),
  CONSTRAINT `fk_member_cell_center` FOREIGN KEY (`cell_center_id`) REFERENCES `cell_centers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_members_person` FOREIGN KEY (`person_id`) REFERENCES `people` (`id`) ON DELETE SET NULL,
  CONSTRAINT `members_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=442 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `new_converts`
--

DROP TABLE IF EXISTS `new_converts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `new_converts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `visitor_id` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `department_id` int DEFAULT NULL,
  `date_converted` date NOT NULL,
  `member_conversion_date` date DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `baptized` enum('yes','no') DEFAULT 'no',
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `person_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_visitor_id` (`visitor_id`),
  KEY `idx_status` (`status`),
  KEY `idx_date_converted` (`date_converted`),
  KEY `department_id` (`department_id`),
  KEY `idx_new_converts_person_id` (`person_id`),
  CONSTRAINT `fk_new_converts_person` FOREIGN KEY (`person_id`) REFERENCES `people` (`id`) ON DELETE SET NULL,
  CONSTRAINT `new_converts_ibfk_1` FOREIGN KEY (`visitor_id`) REFERENCES `visitors` (`id`) ON DELETE SET NULL,
  CONSTRAINT `new_converts_ibfk_2` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `new_converts`
--

LOCK TABLES `new_converts` WRITE;
/*!40000 ALTER TABLE `new_converts` DISABLE KEYS */;
/*!40000 ALTER TABLE `new_converts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `people`
--

DROP TABLE IF EXISTS `people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `people` (
  `id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `alt_phone` varchar(30) DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `occupation` varchar(150) DEFAULT NULL,
  `current_stage` varchar(50) NOT NULL DEFAULT 'visitor',
  `first_seen_at` datetime DEFAULT NULL,
  `last_seen_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_people_name` (`full_name`),
  KEY `idx_people_email` (`email`),
  KEY `idx_people_phone` (`phone`),
  KEY `idx_people_stage` (`current_stage`)
) ENGINE=InnoDB AUTO_INCREMENT=264 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `people`
--

LOCK TABLES `people` WRITE;
/*!40000 ALTER TABLE `people` DISABLE KEYS */;
/*!40000 ALTER TABLE `people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person_lifecycle_events`
--

DROP TABLE IF EXISTS `person_lifecycle_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `person_lifecycle_events` (
  `id` int NOT NULL AUTO_INCREMENT,
  `person_id` int NOT NULL,
  `event_type` varchar(50) NOT NULL,
  `event_date` datetime NOT NULL,
  `source_table` varchar(50) DEFAULT NULL,
  `source_id` int DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_lifecycle_person` (`person_id`),
  KEY `idx_lifecycle_type` (`event_type`),
  KEY `idx_lifecycle_date` (`event_date`),
  CONSTRAINT `fk_lifecycle_person` FOREIGN KEY (`person_id`) REFERENCES `people` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=273 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person_lifecycle_events`
--

LOCK TABLES `person_lifecycle_events` WRITE;
/*!40000 ALTER TABLE `person_lifecycle_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `person_lifecycle_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_sessions`
--

DROP TABLE IF EXISTS `service_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `service_id` int NOT NULL,
  `session_date` date NOT NULL,
  `location` varchar(100) DEFAULT NULL,
  `opened_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `closed_at` timestamp NULL DEFAULT NULL,
  `opened_by` int DEFAULT NULL,
  `closed_by` int DEFAULT NULL,
  `status` enum('open','closed') DEFAULT 'open',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_service_date` (`service_id`,`session_date`),
  KEY `opened_by` (`opened_by`),
  KEY `closed_by` (`closed_by`),
  CONSTRAINT `service_sessions_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`),
  CONSTRAINT `service_sessions_ibfk_2` FOREIGN KEY (`opened_by`) REFERENCES `users` (`id`),
  CONSTRAINT `service_sessions_ibfk_3` FOREIGN KEY (`closed_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_sessions`
--

LOCK TABLES `service_sessions` WRITE;
/*!40000 ALTER TABLE `service_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `services` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `status` enum('scheduled','open','closed') DEFAULT 'scheduled',
  `opened_at` timestamp NULL DEFAULT NULL,
  `closed_at` timestamp NULL DEFAULT NULL,
  `opened_by` int DEFAULT NULL,
  `closed_by` int DEFAULT NULL,
  `template_status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_service_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text,
  `description` text,
  `category` enum('general','attendance','notifications','security','display') DEFAULT 'general',
  `updated_by` int DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `system_settings_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tithe_books`
--

DROP TABLE IF EXISTS `tithe_books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tithe_books` (
  `id` int NOT NULL AUTO_INCREMENT,
  `book_number` varchar(50) NOT NULL,
  `issued_date` date DEFAULT NULL,
  `status` enum('available','assigned','retired') NOT NULL DEFAULT 'available',
  `notes` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tithe_books_book_number` (`book_number`),
  KEY `idx_tithe_books_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tithe_books`
--

LOCK TABLES `tithe_books` WRITE;
/*!40000 ALTER TABLE `tithe_books` DISABLE KEYS */;
INSERT INTO `tithe_books` VALUES (1,'56','2026-03-19','assigned','ttt','2026-03-19 04:44:07','2026-03-19 04:44:30'),(2,'TB-0057','2026-03-19','assigned',NULL,'2026-03-19 06:38:21','2026-03-19 06:39:12'),(3,'TB-0058','2026-03-19','assigned',NULL,'2026-03-19 07:00:13','2026-03-19 07:01:13'),(4,'TB-0059','2026-03-20','available',NULL,'2026-03-20 23:17:07','2026-03-20 23:17:07');
/*!40000 ALTER TABLE `tithe_books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tithers`
--

DROP TABLE IF EXISTS `tithers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tithers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `member_id` int DEFAULT NULL,
  `full_name` varchar(150) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `tithe_book_id` int DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `start_date` date DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tithers_tithe_book_id` (`tithe_book_id`),
  KEY `idx_tithers_member` (`member_id`),
  KEY `idx_tithers_book` (`tithe_book_id`),
  KEY `idx_tithers_status` (`status`),
  CONSTRAINT `fk_tithers_book` FOREIGN KEY (`tithe_book_id`) REFERENCES `tithe_books` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_tithers_member` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tithers`
--

LOCK TABLES `tithers` WRITE;
/*!40000 ALTER TABLE `tithers` DISABLE KEYS */;
INSERT INTO `tithers` VALUES (1,NULL,'Eric Baidoo','0243838490','kbaidu7@gmail.com',1,'active','2026-03-19','gg','2026-03-19 04:44:30','2026-03-19 04:44:30'),(3,NULL,'DAKES','0244697701',NULL,2,'active','2026-03-19',NULL,'2026-03-19 06:39:12','2026-03-19 06:39:12'),(4,NULL,'Catherine','0246552833',NULL,3,'inactive','2026-03-19',NULL,'2026-03-19 07:01:13','2026-03-20 23:21:06');
/*!40000 ALTER TABLE `tithers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','staff','general_admin','data_staff','accountant','communication_team') NOT NULL DEFAULT 'data_staff',
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$19tvT7l/hJLqQBw7PEIhL.Snddl57yvFhtPE4zP.zBgqSZjrQZ8HW','admin','admin@bridgeministries.org','08011111111'),(5,'staff','$2y$10$LmGQ..4FpT6Ayz0IiVNQpeZFK2OC63QJMkgBU7tPaPbs7Kyf3ZBqe','data_staff',NULL,NULL),(7,'ken','$2y$10$10tethviP/CjByG6YpV.JuLl5LzE4SongYkvcb3g3AyssFbaxSc0i','data_staff',NULL,NULL),(8,'EriAcc','$2y$10$rIoJklOe2j7TWK9gqtZGquOL17EjoQUIpoqxINPyWpRVBZjEQEvHO','accountant',NULL,NULL),(9,'Eric','$2y$10$OuRvBtDHjdy.RU2h85xZxuGvLoMAafAV/54bQ8Z9YQDzj8LhGv2CC','data_staff',NULL,NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitors`
--

DROP TABLE IF EXISTS `visitors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visitors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `age_group` enum('child','youth','adult','senior') DEFAULT NULL,
  `how_heard` varchar(150) DEFAULT NULL,
  `first_time` enum('yes','no') DEFAULT 'yes',
  `invited_by` int DEFAULT NULL,
  `follow_up_needed` enum('yes','no') DEFAULT 'yes',
  `follow_up_date` date DEFAULT NULL,
  `follow_up_completed` enum('yes','no') DEFAULT 'no',
  `became_member` enum('yes','no') DEFAULT 'no',
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `service_id` int NOT NULL,
  `date` date NOT NULL,
  `member_id` int DEFAULT NULL,
  `converted_date` date DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `person_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `service_id` (`service_id`),
  KEY `member_id` (`member_id`),
  KEY `idx_visitors_person_id` (`person_id`),
  CONSTRAINT `fk_visitors_person` FOREIGN KEY (`person_id`) REFERENCES `people` (`id`) ON DELETE SET NULL,
  CONSTRAINT `visitors_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`),
  CONSTRAINT `visitors_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitors`
--

LOCK TABLES `visitors` WRITE;
/*!40000 ALTER TABLE `visitors` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23 10:38:37
